html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset Perso */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.eot");
  src: url("../fonts/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato-hairline-webfont.ttf") format("truetype"), url("../fonts/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.eot");
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body, html {
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #282828;
  width: 100%;
  height: 100%;
}

.menu_actif {
  -webkit-transform: translate3d(75%, 0, 0);
}

.displayNone {
  display: none;
}

.translateX {
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.liBgNo {
  background: none !important;
}

#menuLateral {
  background: #212121;
  height: 100%;
  width: 80%;
  position: absolute;
  z-index: 0;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 23px;
  padding: 10px 0 0 10px;
}
#menuLateral .menuLateralTop {
  float: left;
  width: 100%;
}
#menuLateral .menuLateralTop div {
  float: left;
}
#menuLateral .menuLateralTop h1 {
  float: left;
  margin: 4px 0 0 30px;
}
#menuLateral nav {
  float: left;
}
#menuLateral nav ul {
  margin-top: 50px;
}
#menuLateral nav ul li {
  width: 100%;
  float: left;
  height: 60px;
  line-height: 1.7;
  text-indent: 20px;
}
#menuLateral nav ul li span {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}
#menuLateral nav ul li:nth-child(1) span {
  background: url(../img/projet.png) no-repeat center;
  background-size: 100%;
}
#menuLateral nav ul li:nth-child(2) span {
  background: url(../img/tache.png) no-repeat center;
  background-size: 100%;
}
#menuLateral nav ul li:nth-child(3) span {
  background: url(../img/filtre.png) no-repeat center;
  background-size: 100%;
}
#menuLateral nav ul li:nth-child(4) {
  margin-top: 40px;
}
#menuLateral nav ul li:nth-child(4) span {
  background: url(../img/deconnect.png) no-repeat center;
  background-size: 100%;
}

#menuTache {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menuTache nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menuTache nav ul li div span {
  width: 25px;
  height: 1px;
  display: block;
  background: #fff;
}
#menuTache nav ul .menuMenu {
  position: absolute;
  left: 0;
  z-index: 7;
}
#menuTache nav ul .menuMenu div span {
  margin: 8px;
}
#menuTache nav ul .menuTitre {
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}
#menuTache nav ul .menuAdd {
  position: absolute;
  right: 0;
  z-index: 7;
}
#menuTache nav ul .menuAdd div {
  height: 35px;
  width: 40px;
  padding-top: 16px;
}
#menuTache nav ul .menuAdd div span {
  margin: 0px 8px;
}
#menuTache nav ul .menuAdd div :last-child {
  -webkit-transform: rotate(90deg);
}

#menuAddTache {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menuAddTache nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menuAddTache nav ul .menuMenu {
  position: absolute;
  left: 0;
  z-index: 7;
  font-size: 20px;
  text-align: left;
  line-height: 1.7;
}
#menuAddTache nav ul .menuTitre {
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}
#menuAddTache nav ul .menuAddTache {
  position: absolute;
  right: 0;
  z-index: 7;
  line-height: 1.7;
  font-size: 20px;
  text-align: right;
}

#menuAddProjet {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menuAddProjet nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menuAddProjet nav ul .menuMenu {
  position: absolute;
  left: 0;
  z-index: 7;
  font-size: 20px;
  text-align: left;
  line-height: 1.7;
}
#menuAddProjet nav ul .menuTitre {
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}
#menuAddProjet nav ul .menuAdd {
  position: absolute;
  right: 0;
  z-index: 7;
  line-height: 1.7;
  font-size: 20px;
  text-align: right;
}

#menu {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menu nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menu nav ul li div span {
  width: 25px;
  height: 1px;
  display: block;
  background: #fff;
}
#menu nav ul .menuMenu {
  position: absolute;
  left: 0;
  z-index: 7;
}
#menu nav ul .menuMenu div span {
  margin: 8px;
}
#menu nav ul .menuTitre {
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}
#menu nav ul .menuAdd {
  position: absolute;
  right: 0;
  z-index: 7;
}
#menu nav ul .menuAdd div {
  height: 35px;
  width: 40px;
  padding-top: 16px;
}
#menu nav ul .menuAdd div span {
  margin: 0px 8px;
}
#menu nav ul .menuAdd div :last-child {
  -webkit-transform: rotate(90deg);
}

#menuFiltres {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menuFiltres nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menuFiltres nav ul li div span {
  width: 25px;
  height: 1px;
  display: block;
  background: #fff;
}
#menuFiltres nav ul .menuMenu {
  position: absolute;
  left: 0;
  z-index: 7;
}
#menuFiltres nav ul .menuMenu div span {
  margin: 8px;
}
#menuFiltres nav ul .menuTitre {
  width: 100%;
  font-size: 32px;
  text-align: center;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}
#menuFiltres nav ul .menuOK {
  position: absolute;
  right: 0;
  z-index: 7;
  padding: 22px;
}

#menuChat {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #d7403f;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#menuChat nav ul li {
  padding: 12px 5px;
  line-height: 1;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menuChat nav ul .menuChatRetour {
  position: absolute;
  left: 0;
  z-index: 7;
  height: 44px;
  margin: 8px;
  width: 44px;
  background: url(../img/arrow_chat.png) no-repeat center;
}
#menuChat nav ul .menuTitreChat {
  width: 100%;
  font-size: 22px;
  text-align: right;
  padding: 19px 20px 0 0;
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
}

#chat {
  padding-top: 60px;
}
#chat .contentChat {
  float: left;
}
#chat .inputChat {
  position: absolute;
  width: 100%;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
}
#chat .inputChat input[type=text] {
  float: left;
  width: 75%;
  height: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 0;
}
#chat .inputChat ::-webkit-input-placeholder {
  color: #9f9f9f;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
}
#chat .inputChat input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#chat .inputChat input[type=submit] {
  float: left;
  width: 25%;
  height: 50px;
  border: 0;
  padding: 0;
  margin: 0;
  background: #9f9f9f;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

#filtre {
  padding-top: 38px;
}
#filtre ul li {
  width: 100%;
  height: 50px;
  float: left;
  padding: 7px 0 0 11px;
}
#filtre ul li input {
  visibility: hidden;
  position: absolute;
}
#filtre ul li label {
  display: block;
  height: 50px;
  width: 100%;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 25px;
}
#filtre ul li:nth-child(1) {
  background: url(../img/valide_filtre.png) no-repeat 96% 50% #3aa642;
  background-size: 11%;
}
#filtre ul li:nth-child(2) {
  background: url(../img/valide_filtre.png) no-repeat 96% 50% #3cab43;
  background-size: 11%;
}
#filtre ul li:nth-child(3) {
  background: url(../img/valide_filtre.png) no-repeat 96% 50% #3eb045;
  background-size: 11%;
}
#filtre ul li:nth-child(4) {
  background: url(../img/valide_filtre.png) no-repeat 96% 50% #3bae42;
  background-size: 11%;
}
#filtre ul li:nth-child(5) {
  background: url(../img/valide_filtre.png) no-repeat 96% 50% #3fb547;
  background-size: 11%;
}

#taches {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding-top: 38px;
}
#taches #addTaches {
  background: #efefef;
  float: left;
  width: 100%;
}
#taches #addTaches input[type=date] {
  position: absolute;
  left: -99999px;
}
#taches #addTaches #tacheAddSubmit {
  display: none;
}
#taches #addTaches input {
  height: 60px;
  background: #efefef;
  width: 230px;
  border-radius: 0;
  border: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  float: left;
  color: #000;
  display: block;
  line-height: 1.8;
}
#taches #addTaches input ::-webkit-input-placeholder {
  color: #8a8a8a;
}
#taches #addTaches input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#taches #addTaches label {
  display: block;
  background: url(../img/dateaddprojet.png) no-repeat center;
  background-size: 60%;
  height: 46px;
  width: 42px;
  float: left;
  margin: 5px 4% 0 6%;
}
#taches ul {
  float: left;
  width: 100%;
  background: #efefef;
}
#taches ul li {
  background: #aaaaaa;
  float: left;
  width: 100%;
  box-shadow: inset 0px 0px 1px 0px #d5d5d5;
}
#taches ul li .joursTache {
  font-family: "latolight", Arial, Helvetica, sans-serif;
  font-size: 25px;
  float: left;
  width: 20%;
  height: 60px;
  line-height: 1.8;
  margin-right: 6%;
  display: block;
  text-align: right;
  color: #d7403f;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#taches ul li .joursTache .nbr_jours_tache_tache {
  font-size: 36px;
}
#taches ul li div {
  float: right;
  width: 68%;
  margin-right: 6%;
  display: block;
  padding: 13px 0;
}
#taches ul li div p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
}
#taches ul li div .tacheProjectName {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #d7403f;
}
#taches ul li:nth-child(1) {
  background: #efefef;
}
#taches ul li:nth-child(2) {
  background: #e7e7e7;
}
#taches ul li:nth-child(3) {
  background: #e0e0e0;
}
#taches ul li:nth-child(4) {
  background: #d8d8d8;
}
#taches ul li:nth-child(5) {
  background: #d0d0d0;
}
#taches ul li:nth-child(6) {
  background: #c9c9c9;
}
#taches ul li:nth-child(7) {
  background: #c1c1c1;
}
#taches ul li:nth-child(8) {
  background: #b9b9b9;
}
#taches ul li:nth-child(9) {
  background: #b2b2b2;
}
#taches ul li:nth-child(10) {
  background: #aaaaaa;
}

#addProjet {
  padding-top: 60px;
  background: #1a1a1a;
}
#addProjet form fieldset {
  display: block;
  width: 100%;
}
#addProjet form fieldset .dateName {
  height: 100px;
  float: left;
  background: #282828;
  color: #fff;
  width: 100%;
  padding: 22px 13px;
}
#addProjet form fieldset .dateName label {
  display: block;
  background: url(../img/dateaddprojet.png) no-repeat center;
  background-size: 100%;
  height: 46px;
  width: 42px;
  float: left;
  margin-top: 5px;
}
#addProjet form fieldset .dateName input[type=date] {
  position: absolute;
  left: -99999px;
}
#addProjet form fieldset .dateName input {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 32px;
  float: left;
  background: #282828;
  border: none;
  color: #fff;
  display: block;
  width: 250px;
  padding-top: 18px;
}
#addProjet form fieldset .dateName input ::-webkit-input-placeholder {
  color: #8a8a8a;
}
#addProjet form fieldset .dateName input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#addProjet form fieldset .dateName input:focus {
  border: 0px;
  color: none;
  box-shadow: 0px;
}
#addProjet form fieldset .addProjetAddTacheInputTache, #addProjet form fieldset .addProjetAddTacheInputCollabo {
  width: 100%;
  float: left;
  height: 40px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  background: #efefef;
}
#addProjet form fieldset .addProjetAddTacheInputTache span, #addProjet form fieldset .addProjetAddTacheInputCollabo span {
  width: 20%;
  float: left;
  color: #fff;
  height: 40px;
  background: #212121;
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 2.5;
}
#addProjet form fieldset .addProjetAddTacheInputTache input, #addProjet form fieldset .addProjetAddTacheInputCollabo input {
  width: 80%;
  float: left;
  color: #000;
  text-indent: 11px;
  height: 40px;
  background: #efefef;
}
#addProjet form fieldset input {
  width: 50%;
  float: left;
  height: 40px;
  padding: 0;
  text-align: left;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  text-indent: 41px;
  background: url(../img/breif.png) no-repeat 6% 50% #1d1d1d;
  background-size: 13%;
}
#addProjet form fieldset select {
  border-radius: 0;
  border: 0;
  width: 50%;
  float: left;
  height: 40px;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
  overflow: hidden;
  -webkit-appearance: none;
  text-indent: 41px;
  background: url(../img/courprof.png) no-repeat 6% 50% #1d1d1e;
  background-size: 18%;
}
#addProjet form fieldset .addCollaboProjet {
  width: 50%;
  float: left;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2.8;
  text-indent: 41px;
  background: url(../img/collabo.png) no-repeat 6% 50% #212121;
  background-size: 18%;
}
#addProjet form fieldset .addProjetAddTache {
  width: 50%;
  float: left;
  height: 40px;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
  background: #d7403f;
}
#addProjet form fieldset .addProjetAddTache p {
  float: left;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.8;
}
#addProjet form fieldset .addProjetAddTache div {
  padding-top: 19px;
  float: left;
}
#addProjet form fieldset .addProjetAddTache div span {
  margin: 0px 8px;
  background: #fff;
  width: 25px;
  height: 1px;
  display: block;
}
#addProjet form fieldset .addProjetAddTache div :last-child {
  -webkit-transform: rotate(90deg);
}
#addProjet form input[type=submit] {
  display: none;
}

#projets {
  padding-top: 60px;
  background: #1a1a1a;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#projets ul {
  height: 100%;
  width: 100%;
  float: left;
  background: #1a1a1a;
}
#projets ul li:nth-child(1) {
  background: #1a1a1a;
}
#projets ul li:nth-child(2) {
  background: #1d1d1d;
}
#projets ul li:nth-child(3) {
  background: #1f1f1f;
}
#projets ul li:nth-child(4) {
  background: #222222;
}
#projets ul li:nth-child(5) {
  background: #242424;
}
#projets ul li:nth-child(6) {
  background: #272727;
}
#projets ul li:nth-child(7) {
  background: #292929;
}
#projets ul .projetsOppenClass {
  height: 100%;
}
#projets ul li {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  height: 108px;
  background: #292929;
  float: left;
  padding: 25px 0 0 0;
  box-shadow: inset 0px 0px 1px 0px #1a1a1a;
  overflow: hidden;
}
#projets ul li .projetsClose {
  width: 100%;
  float: left;
}
#projets ul li .projetsClose .jours {
  float: left;
  height: 100%;
  width: 20%;
  margin-right: 6%;
}
#projets ul li .projetsClose .jours span {
  color: #d7403f;
  font-family: "latohairline", Arial, Helvetica, sans-serif;
  font-size: 31px;
  text-align: right;
  float: right;
  line-height: 2.7;
}
#projets ul li .projetsClose .jours span .nbr_jours {
  float: left;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1;
}
#projets ul li .projetsClose .projetContent {
  float: left;
  height: 100%;
  width: 68%;
  margin-right: 6%;
  color: #fff;
  font-family: "latolight", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#projets ul li .projetsClose .projetContent h1 {
  font-size: 32px;
  width: 100%;
  float: left;
  margin-top: -5px;
}
#projets ul li .projetsClose .projetContent .projetProf {
  font-size: 10px;
  width: 50%;
  float: left;
}
#projets ul li .projetsClose .projetContent .projetCreat {
  font-size: 10px;
  width: 50%;
  float: left;
  text-align: right;
}
#projets ul li .projetsOpen {
  width: 100%;
  float: left;
}
#projets ul li .projetsOpen ul {
  background: #fff;
  float: left;
  width: 100%;
  background: #efefef;
}
#projets ul li .projetsOpen ul li {
  font-family: "latolight", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
  background: #bcbcbc;
  float: left;
  padding: 0;
}
#projets ul li .projetsOpen ul li .projetJoursTache {
  font-family: "latolight", Arial, Helvetica, sans-serif;
  font-size: 36px;
  float: left;
  width: 20%;
  margin-right: 6%;
  display: block;
  text-align: right;
}
#projets ul li .projetsOpen ul li p {
  float: right;
  width: 68%;
  margin-right: 6%;
  display: block;
  padding: 13px 0;
}
#projets ul li .projetsOpen ul li:nth-child(1) {
  background: #efefef;
}
#projets ul li .projetsOpen ul li:nth-child(2) {
  background: #e2e2e2;
}
#projets ul li .projetsOpen ul li:nth-child(3) {
  background: #d5d5d5;
}
#projets ul li .projetsOpen ul li:nth-child(4) {
  background: #c9c9c9;
}
#projets ul li .projetsOpen ul li:nth-child(5) {
  background: #bcbcbc;
}
#projets ul li .projetsOpen nav {
  height: 132px;
  width: 100%;
  float: left;
  opacity: 1;
}
#projets ul li .projetsOpen nav ul li {
  width: 50%;
  float: left;
  height: 40px;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  box-shadow: none;
}
#projets ul li .projetsOpen nav ul li div {
  height: 40px;
  width: 40px;
  float: left;
}
#projets ul li .projetsOpen nav ul li p {
  float: left;
  display: inline;
  padding: 0 0 0 0px;
  margin: 0;
  width: 70%;
}
#projets ul li .projetsOpen nav ul li:nth-child(1) {
  background: #d7403f;
}
#projets ul li .projetsOpen nav ul li:nth-child(1) div {
  padding-top: 19px;
}
#projets ul li .projetsOpen nav ul li:nth-child(1) div span {
  margin: 0px 8px;
  background: #fff;
  width: 25px;
  height: 1px;
  display: block;
}
#projets ul li .projetsOpen nav ul li:nth-child(1) div :last-child {
  -webkit-transform: rotate(90deg);
}
#projets ul li .projetsOpen nav ul li:nth-child(2) {
  background: #1d1d1d;
}
#projets ul li .projetsOpen nav ul li:nth-child(2) div {
  background: url(../img/discution.png) no-repeat center;
  background-size: 60%;
}
#projets ul li .projetsOpen nav ul li:nth-child(3) {
  background: #1d1d1d;
}
#projets ul li .projetsOpen nav ul li:nth-child(3) div {
  background: url(../img/breif.png) no-repeat center;
  background-size: 47%;
}
#projets ul li .projetsOpen nav ul li:nth-child(4) {
  background: #212121;
}
#projets ul li .projetsOpen nav ul li:nth-child(4) div {
  background: url(../img/collabo.png) no-repeat center;
  background-size: 60%;
}
#projets ul li .projetsOpen nav ul li:nth-child(5) {
  background: #282828;
  line-height: 3.7;
  height: 52px;
  width: 100%;
}
#projets ul li .projetsOpen nav ul li:nth-child(5) div {
  height: 52px;
  width: 98px;
  background: url(../img/modifier.png) no-repeat left center;
  background-size: 30%;
  margin: 0 auto;
  float: none;
}
#projets ul li .projetsOpen nav ul li:nth-child(5) p {
  margin: 0;
  padding: 0;
  text-indent: 35px;
}

#login {
  background: #3c3c3c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
#login .loginLogo {
  float: left;
  width: 100%;
}
#login form {
  float: left;
  width: 100%;
}
#login form fieldset {
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
}
#login form input {
  width: 70%;
  height: 50px;
  margin: 20px auto;
  display: block;
  background: #282828;
  color: #fff;
  padding: 0;
  border: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 24px;
}
#login form ::-webkit-input-placeholder {
  color: #9f9f9f;
}
#login form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#login form input[type="submit"] {
  width: 100%;
  height: 90px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #d14746;
  color: #fff;
  font-size: 32px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
